{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-end col-10 mt-3">
    <a class="btn btn-success" href="/novo-pedido/">Novo pedido</a>
</div>
<div class="container d-flex justify-content-between col-10 mt-3">
    <div class="col-6 d-flex container container-pedidos-abertos">
        <div style="margin: 0 auto;">
            <h2>Pedidos em aberto</h2>
            <ul>
                {% for pedido in pedidos_abertos %}
                <li>
                    <a href="{% url 'novo-pedido' pedido.pk %}">{{pedido}}</a><br>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-6 d-flex container container-pedidos-finalizados">
        <div style="margin: 0 auto;">
            <h2>Pedidos finalizados</h2>
            <ul>
                {% for pedido in pedidos_finalizados %}
                <li>
                    <a href="{% url 'pedido' pedido.pk %}">{{pedido}}</a><br>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}