{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container col-7 mt-3 mb-5 d-flex justify-content-end px-5">
    <a class="btn btn-success btn-novo-produto" href="{% url 'novo-produto' %}">Novo produto</a>
</div>

<div class="container col-5 mt-3">
    <div class="input-group col-12">
        <div class="input-group-prepend col-6 p-0">
            <span class="input-group-text col-12" ><b>Nome</b></span>
        </div>
        <div class="input-group-prepend col-3 p-0">
            <span class="input-group-text col-12" ><b>Preço</b></span>
        </div>
        <div class="input-group-prepend col-3 p-0">
            <span class="input-group-text col-12" ><b>Ações</b></span>
        </div>
    </div>
    {% if lista_produtos %}
        {% for produto in lista_produtos %}
        <div class="input-group col-12">
            <div class="input-group-prepend col-6 p-0">
                <span class="input-group-text col-12 produto-container" >{{produto.nome}}</span>
            </div>
            <div class="input-group-prepend col-3 p-0">
                <span class="input-group-text col-12 produto-container" >{{produto.preco}}</span>
            </div>
            <div class="input-group-prepend col-3 p-0">
                <span class="input-group-text col-12 produto-container" >
                    <span class="edit-produto">
                        <a class="mr-1" title="editar" href="{% url 'editar-produto' produto.pk %}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </span>
                    <span class="delete-produto">
                        <a class="ml-1" title="delete" href="{% url 'deletar-produto' produto.pk %}">
                            <i class="fas fa-times-circle"></i>
                        </a>
                    </span>          
                </span>
                
            </div>
        </div>
        {% endfor %}
        <div class="input-group col-12">
            <div class="input-group-prepend col-6 p-0">
                <span class="input-group-text col-12" id=""> </span>
            </div>
            <div class="input-group-prepend col-6 p-0">
                <span class="input-group-text col-12" id=""> 
                        {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="/produto/produtos?page={{ page_obj.previous_page_number }}" class="btn-pagination p-2">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="/produto/produtos?page={{ page_obj.next_page_number }}" class="btn-pagination p-2">next</a>
                                {% endif %}
                            </span>
                        </div>
                        {% endif %}
                    
                </span>
            </div>
        </div>
    {% else %}
        <h3>My produtos</h3>
        <p>No produtos found!!! :(</p>
    {% endif %}
    
    {% endblock %}