body, html {
    background-color: whitesmoke;
}

a { 
    color: inherit;
    text-decoration: inherit;
}

a:hover { 
    color: inherit;
    text-decoration: inherit;
}

nav {
    background-color: #e3f2fd;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
button:focus,
.uneditable-input:focus {   
  border-color: rgb(36, 35, 35) !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

.btn-cancelar-item{
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: red;
}

.btn-add-item{
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: green;
}

.total-space {
    background-color: #E9ECEF;
}

.container-pedidos-abertos {
    border-right: 1px solid gray;
    min-height: 300px;
}

.container-pedidos-finalizados {
    border-left: 1px solid gray;
    min-height: 300px;
}

.produto-container{
    background-color: rgb(255, 255, 255) !important;
}

.produto-container span{
    margin: 0 auto;
    cursor: pointer;
}

.delete-produto {
    color: red;
}

.edit-produto {
    color: rgb(55, 158, 243);
}

.container-confirm-delete {
    border-radius: 3px;
    background-color: #e3f2fd;
}

.btn-pagination {
    border: 1px solid #cadfee;
    background-color: #e3f2fd;
    border-radius: 2px;
}

.btn-pagination:hover {
    border: 1px solid #a3c6df;
    background-color: #c0e1f8;
}

.link-lista-pedidos {
    text-decoration: underline;
    color: blue;
}